*{margin:0; padding:0; list-style:none; border:0; text-decoration:none;}
input{ margin:0; padding:0}

em{display:block}
body,html{ font-family:"微软雅黑"}
img{display:block}


b{display:block}
body{min-width:1200px}
span{display:block}











