{%extends 'usercenter/index.html'%}

{%block title%}
{%endblock%}

{%block content%}
<!--right-->
<div class="centers_mr">
<div class="public_m1">
     <div class="public_m2">我的点评</div>
     <!--一个订单信息-->
     <div class="public_m5">
       <table border="0" cellspacing="0" cellpadding="0">
         <tbody>
          <tr style=" border-bottom:1px solid #000">       
           <th class="olist1">预约单编号</th>       
           <th class="olist2">预约时间</th>       
           <th class="olist4">预约地点</th>
           <th class="olist4">结束时间</th>
           <th class="olist4">状态</th>       
         </tr>    
         <tr>     
           <td>2016102111523538</td>     
           <td>2016-10-21 12:03</td>
           <td>城南</td>     
           <td>2016-10-21 12:03</td>        
           <td>正在点评</td>
         </tr>
       </tbody>
     </table>
   </div>
   <!--评价星级-->
   <div class="pjxingji_m">
     <ul>
       <li>
         <em>客服态度：</em>
         <input type="radio" name="cpzl_m1">
         <img src="images/1xing.png"/>
         <input type="radio" name="cpzl_m1">
         <img src="images/2xing.png">
         <input type="radio" name="cpzl_m1">
         <img src="images/3xing.png"/>
         <input type="radio" name="cpzl_m1">
         <img src="images/4xing.png">
         <input type="radio" name="cpzl_m1">
         <img src="images/5xing.png">
       </li>
       <li>
         <em>服务质量：</em>
         <input type="radio" name="cpzl_m2">
         <img src="images/1xing.png"/>
         <input type="radio" name="cpzl_m2">
         <img src="images/2xing.png"/>
         <input type="radio" name="cpzl_m2">
         <img src="images/3xing.png"/>
         <input type="radio" name="cpzl_m2">
         <img src="images/4xing.png"/>
         <input type="radio" name="cpzl_m2">
         <img src="images/5xing.png"/>
       </li>
       <li>
         <em>试车环境：</em>
         <input type="radio" name="cpzl_m3">
         <img src="images/1xing.png"/>
         <input type="radio" name="cpzl_m3">
         <img src="images/2xing.png"/>
         <input type="radio" name="cpzl_m3">
         <img src="images/3xing.png"/>
         <input type="radio" name="cpzl_m3">
         <img src="images/4xing.png"/>
         <input type="radio" name="cpzl_m3">
         <img src="images/5xing.png"/>
       </li>
     </ul>
   </div>
   <!--我的牛评-->
   <div class="my_lm">
     <em>我的评价：</em>
     <textarea></textarea>
   </div>
   <!--选择上传文件-->
   <div class="myinput_lm">
     <em>上传图拍：</em>
     <input type="file">
     <input type="checkbox">
     <i>匿名上传</i>
   </div>
   <a href="#" class="public_m3">提交</a>
 </div>
</div>
{%endblock%}




































































