{%extends 'usercenter/index.html'%}

{%block title%}
{%endblock%}

{%block content%}
<!--right-->
<div class="centers_mr">
<div class="public_m1">
 <div class="public_m2">密码修改</div>
 <!--提示信息-->	
 <div class="tip_notem">
   <ul>
     <li>1.请牢记登录密码</li>
     <li>2.如果丢失密码，可以通过绑定的手机或邮箱找到</li>
   </ul>
 </div>
 <div class="public_m4">
   <p>
     <em>原密码：</em>
     <input type="text" style=" height:23px; border:1px solid #eaeaea; width:140px">
   </p>
   <p>
     <em>新的密码：</em>
     <input type="text" style=" height:23px; border:1px solid #eaeaea; width:140px">
   </p>
   <p>
     <em>确认密码：</em>
     <input type="text" style=" height:23px; border:1px solid #eaeaea; width:140px">
   </p>
   <a href="#" class="public_m3">确认修改</a>
 </div>
</div> 
</div>
{%endblock%}





































































