{%extends 'usercenter/index.html'%}

{%block title%}
{%endblock%}

{%block content%}
<div class="centers_mr">
<!--right-->
<div class="public_m1">
<div class="public_m2">账户安全</div>
<div class="public_m4">
   <p><em>您当前的安全等级：</em><i style="color:#fa3b4a">高</i></p>
</div>
 <!--各种设置-->    
<div class="gezhong_szm">
   <!--一条开始a-->
   <div class="gezhong_szm_in">
     <b style=" background:url(images/fourm.png) no-repeat 0 0"></b>
     <span>登录密码<br><em>已设置</em></span>
     <p>安全性高的密码，可以使账户更安全。建议您定期更换密码。安全性高的密码，可以使账户更安全。建议您定期更换密码。安全性高的密码，可以使账户更安全。建议您定期更换密码。</p>
   </div>

</div> 
</div>
</div>
{%endblock%}
